html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*CUSTOM*/
    /*overflow: hidden;*/
    max-height: 100%;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* This is the React thing that gets the main component. */
#root {
    height: 100%;
    width: 100%;
    display: flex;
}

.app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media screen and (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}
